.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.todo-form .input {
  min-width: 60%;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all ease-in 0.25s;
}

.input:focus {
  outline: none;
  border: 1px solid #a3b1ff;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
}

.todo-form .btn {
  margin-left: 12px;
  padding: 2px 12px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fefefe;
  background: #ddd;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}